
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
	* { margin:0; padding:0; box-sizing:border-box;}
	body { width:1920px; height: 100%;font-family:"Noto Sans", "Roboto", sans-serif; color: #212529; background:url("../../Image/Sub_bg.png") no-repeat; box-sizing:border-box; background-position:0 719px;}
	li { list-style:none; }
	a { text-decoration:none; color: #212529; }
	.center { width:1436px; height:100%; margin:0 auto; }

	#event { cursor:pointer; background: #212529; width:240px; height: 140px; position:fixed; right:0; top:35%; transform-origin:right center; transform:rotate(-90deg); z-index:8; padding:8px; box-sizing:border-box; border-radius:8px 8px 0 0;}
	#event h2 {color: #d8d8d8; font-size:16px; text-align:center; line-height:40px; height:40px;} /*이벤트 붙이는 법 = rotate시 origin을 준다.*/
	
	
    #popup_s {position:fixed; left:0; top:0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index:99; box-shadow:1px 1px 2px rgba(0,0,0,0.7);  }
	#popup_signup { width: 1060px; height: 428px; position: absolute; margin-left: -530px; margin-top: -224px;left:50%; top:50%; background:url("../../Image/popup_Signup.jpg") no-repeat; background-size:cover;}
	#popup_signup #close { cursor:pointer; width: 20px; height: 20px; position: absolute; right:20px; top:12px; border:0; background:transparent; font-size:32px;}
	.popup_container {position: absolute; right:72px; top:20px; width: 335px; height: 100%; }
	.popup_contents h1 {font-size:20px; text-align:center; margin-bottom:20px;}
    .popup_contents section img {cursor:pointer; width: 335px; height: 56px; margin-bottom:12px;}
    .popup_contents section img:last-child {margin-bottom:0;}

	header { width:100%; height: 100%;}
	header .center {margin:0 auto; position:relative;}
	#header { width:100%; height:140px;}
	.logo { cursor:pointer; width:200px; height:100%; position:absolute; left:0; top:20px; background:url("../../Icon/ZIGZAG-logo.png") no-repeat; background-size:contain; } /*x=242*/
	.search_bar { position:absolute; top:40px; left:362px; width:590px; height: 60px; padding:8px; box-sizing:border-box; border:none; border-bottom:2px solid #212529; background:transparent; font-size:18px;}
	.search_btn { cursor:pointer; position:absolute; top:48px; left:911px; width: 32px; height: 40px; opacity:1; }
	#gnb img.wishlist {cursor:pointer; position:absolute; top:50px; left: 1154px; width: 40px; height: 38.45px;}
	#gnb img.bag {cursor:pointer; position:absolute; top:50px; left: 1289px; width: 43.86px; height: 40px;}
	#gnb img.mypage {cursor:pointer; position:absolute; top:50px; left: 1396px; width: 34.29px; height: 40px;}
	
	#lnb {width: 100%; height: 100%; background:#212529; z-index:9; }
	#lnb .top-menu {width: 1436px; height: 80px; position:relative; margin:0 auto; }
	#lnb .top-menu li { float:left; width:119px; height: 100%; margin:0 auto;}
	#lnb .top-menu a {display:block; color:#d8d8d8;font-size:18px; line-height:80px; width: 100%; height: 100%; text-align: center; border-bottom:4px solid transparent; }
	#lnb .bottom-menu { display:none; position:absolute; left:0; top:220px; width:1920px; background:rgba(33,37,41,0.8); z-index:9; }
	#lnb .bottom-menu .center {margin:0 auto;}
	#lnb .bottom-menu ul { padding-top:8px; float:left; width:119px; text-align: center; transition:all 0.3s; }
	#lnb .bottom-menu a { display:block; color:#d8d8d8; font-size:16px; line-height:40px; height: 40px; text-align: center; }
	#lnb .bottom-menu span a { font-size:14px; height:32px; line-height: 32px; color:#989898;}
	#lnb .top-menu a:hover, #lnb .top-menu li.on a {color:#FF89B9; border-bottom:2px solid #FF89B9;}
	#lnb .bottom-menu a:hover, #lnb .bottom-menu li.on a {color:#FF89B9;}

	#best_cover { width: 100%; height: 280px; overflow:hidden; /* position: relative; */ background-image:url("../../Image/best.jpg"); background-repeat:no-repeat; background-position:center center; background-size:cover; background-attachment:fixed; }	
	/* #best_cover h1 {font-size:60px; color:#d8d8d8; position: absolute; right:20%; bottom:40%; } */

	#snb { width: 100%; height: 20px; margin-top:32px; margin-bottom:52px; }
	.sub-menu {width: 1152px; overflow: hidden; margin:0 auto; box-sizing:border-box; }
	.sub-menu li { float:left; }
	.sub-menu a { font-size: 18px; padding:0 20px;	}
	.sub-menu a:hover, .sub-menu a.on {color:#FF89B9;}
	

	#wrap { margin:0 auto; width:1436px; height: 100%;}

	#filter {width: 1436px; height: 20px; position: relative;z-index:2;} /*항상 z-index, position:relative 같이!!!*/
	#filter .value {float:left;}
	#filter .align {float:right;}
	#filter section > ul {height: 100%;}
	#filter section > ul > li {float:left; width: 105px; height: 100%; margin-right:16px; position: relative;}
	#filter section > ul > li:after { display: block; content: ""; position:absolute; top:0; right:0; background-size: contain; background-repeat:no-repeat; background-image:url("../../Icon/ZIGZAG-down.png");}
	#filter section > ul > li > a {font-size: 18px; font-weight: bold;}
	#filter section ul ul {position: absolute; top: 100%; left: 0; padding-top:8px; width: 100%; display:none; transition:all 0.3s; background:rgba(255,255,255,0.7); border-radius:4px; box-sizing:border-box;}
	#filter section ul ul li {height: 28px; line-height: 28px;}
	#filter section ul ul li a {font-size: 16px;}
	#filter section > ul > li:hover ul {display:block;}
	#filter #slider {position:absolute; top:0px; left:40%; z-index:999;}
	#filter #amount { border: 0; color: #f6931f; font-weight: bold; margin-bottom:70px; }

	#products {margin-top:40px; width: 100%; height: 100%;position: relative; z-index:1;}/*항상 z-index, position:relative 같이!!!*/
	#products .center {overflow:hidden;} /*항상 float:left 시켜놓고 overflow:hidden을 줘야 높이가 잡힌다!!!*/
	#products figure { height: 100%;float:left; width: 346px; margin-right:16px; margin-bottom:78px; position: relative; cursor:pointer;}
	#products figure:nth-child(4n) {margin-right:0;}
    #products figure .product { width: 346px; height: 426px; background-image:url("../../Image/sponsored_1_1.png"); background-repeat:no-repeat; background-size:cover;}
    #products figure .wish { position: absolute; bottom:98px; right:16px; z-index:5; width:38px; height: 37px; cursor:pointer; background-image:url("../../Icon/ZIGZAG-heart_white.png"); 
	background-repeat: no-repeat; background-size:contain;}
	#products figcaption a { font-size: 16px;}
	#products figcaption b { color:#FF89B9; font-weight:normal; margin-right:8px; }
	#products figcaption span { display:inline-block; margin-left:8px; width:26.32px; height: 24px; background:url("../../Icon/ZIGZAG-bag.png") no-repeat; background-size:contain;}
	#products figcaption ul li {height: 24px; line-height:24px;}
	#products figcaption ul li:first-child a { font-weight: bold;}
	#products figure .wish.on {background-image:url("../../Icon/ZIGZAG-fullheart_white.png"); }
	
	#products figure:nth-child(1) .product {background-image:url("../Image/item_8_2.png");}
	#products figure:nth-child(2) .product {background-image:url("../../Image/item_7_1.png");}
	#products figure:nth-child(3) .product {background-image:url("../../Image/item_5_1.png");}
	#products figure:nth-child(4) .product {background-image:url("../../Image/item_10_1.png");}
	#products figure:nth-child(5) .product {background-image:url("../../Image/item_6_2.png");}
	#products figure:nth-child(6) .product {background-image:url("../../Image/item_4_1.png");}
	#products figure:nth-child(7) .product {background-image:url("../../Image/item_30_1.png");}
	#products figure:nth-child(8) .product {background-image:url("../../Image/item_48_2.png");}
	#products figure:nth-child(9) .product {background-image:url("../../Image/ref_3.png");}
	#products figure:nth-child(10) .product {background-image:url("../../Image/ref_1.png");}
	#products figure:nth-child(11) .product {background-image:url("../../Image/item_53_1.png");}
	#products figure:nth-child(12) .product {background-image:url("../../Image/item_49_2.png");}
	#products figure:nth-child(13) .product {background-image:url("../../Image/item_31_5.png");}
	#products figure:nth-child(14) .product {background-image:url("../../Image/item_28_1.png");}
	#products figure:nth-child(15) .product {background-image:url("../../Image/item_29_5.png");}
	#products figure:nth-child(16) .product {background-image:url("../../Image/item_27_4.png");}
	#products figure:nth-child(17) .product {background-image:url("../../Image/item_33_2.png");}
	#products figure:nth-child(18) .product {background-image:url("../../Image/item_32_4.png");}
	#products figure:nth-child(19) .product {background-image:url("../../Image/item_35_1.png");}
	#products figure:nth-child(20) .product {background-image:url("../../Image/item_39_1.png");}
	#products figure:nth-child(21) .product {background-image:url("../../Image/item_40_1.png");}
	#products figure:nth-child(22) .product {background-image:url("../../Image/item_46_1.png");}
	#products figure:nth-child(23) .product {background-image:url("../../Image/item_44_2.png");}
	#products figure:nth-child(24) .product {background-image:url("../../Image/item_47_1.png");}
	#products figure:nth-child(25) .product {background-image:url("../../Image/item_34_3.png");}
	#products figure:nth-child(26) .product {background-image:url("../../Image/item_52_4.png");}
	#products figure:nth-child(27) .product {background-image:url("../../Image/item_51_2.png");}
	#products figure:nth-child(28) .product {background-image:url("../../Image/item_50_4.png");}
	
	#products figure:nth-child(1) .product.on {background-image:url("../../Image/item_8_1.png");}  
	#products figure:nth-child(2) .product.on {background-image:url("../../Image/item_7_2.png");}  
	#products figure:nth-child(3) .product.on {background-image:url("../../Image/item_5_3.png");}  
	#products figure:nth-child(4) .product.on {background-image:url("../../Image/item_10_3.png");} 
	#products figure:nth-child(5) .product.on {background-image:url("../../Image/item_6_4.png");}  
	#products figure:nth-child(6) .product.on {background-image:url("../../Image/item_4_2.png");}  
	#products figure:nth-child(7) .product.on {background-image:url("../../Image/item_30_3.png");} 
	#products figure:nth-child(8) .product.on {background-image:url("../../Image/item_48_4.png");} 
	#products figure:nth-child(9) .product.on {background-image:url("../../Image/ref_3.png");}     
	#products figure:nth-child(10) .product.on {background-image:url("../../Image/ref_1.png");}    
	#products figure:nth-child(11) .product.on {background-image:url("../../Image/item_53_2.png");}
	#products figure:nth-child(12) .product.on {background-image:url("../../Image/item_49_3.png");}
	#products figure:nth-child(13) .product.on {background-image:url("../../Image/item_31_2.png");}
	#products figure:nth-child(14) .product.on {background-image:url("../../Image/item_28_2.png");}
	#products figure:nth-child(15) .product.on {background-image:url("../../Image/item_29_2.png");}
	#products figure:nth-child(16) .product.on {background-image:url("../../Image/item_27_3.png");}
	#products figure:nth-child(17) .product.on {background-image:url("../../Image/item_33_1.png");}
	#products figure:nth-child(18) .product.on {background-image:url("../../Image/item_32_2.png");}
	#products figure:nth-child(19) .product.on {background-image:url("../../Image/item_35_1.png");}
	#products figure:nth-child(20) .product.on {background-image:url("../../Image/item_39_2.png");}
	#products figure:nth-child(21) .product.on {background-image:url("../../Image/item_40_2.png");}
	#products figure:nth-child(22) .product.on {background-image:url("../../Image/item_46_2.png");}
	#products figure:nth-child(23) .product.on {background-image:url("../../Image/item_44_1.png");}
	#products figure:nth-child(24) .product.on {background-image:url("../../Image/item_47_2.png");}
	#products figure:nth-child(25) .product.on {background-image:url("../../Image/item_34_1.png");}
	#products figure:nth-child(26) .product.on {background-image:url("../../Image/item_52_1.png");}
	#products figure:nth-child(27) .product.on {background-image:url("../../Image/item_51_1.png");}
	#products figure:nth-child(28) .product.on {background-image:url("../../Image/item_50_3.png");}
	
	footer { margin-top:132px; width: 100%; height: 460px; border-top:1px solid #d8d8d8;  text-align: center; font-size: 14px; }
	/* position:absolute; left: 0; bottom:0; ? 바디 밑에 붙이는 법? -> product overflow w hidden으로 높이값 잡아주기*/
	#footer_nav { width:446px; height: 197px; margin:40px auto;}
	#footer_nav ul {float:left; margin-right:16px;}
	#footer_nav ul:last-child { margin-right:0;}
	#footer_nav li:first-child { font-weight: bold; }
	#footer_nav li {line-height:30px; height:30px;}
	footer h4 {margin-bottom:20px;}
	footer img {width: 36px; height: 36px; margin-right:64px;}
	footer img.nomr {margin-right:0;}
	footer p {line-height:24px; margin-top:20px; }